body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('../images/fondo-marron.jpg');
    font-family: "Roboto", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    background-color: rgba(245, 159, 47, 0.685); 
}

h1 {
    background-color: #c5c0c0; 
    color: #f8f8f7;  
    font-weight: 700;          
    border-left: 10px solid #ee482b; 
    padding: 12px 0;
    width: 85%;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
}

img {
    border: 7px solid black;
    border-radius: 12px;
    box-shadow: 6px 6px 20px rgba(0,0,0,0.7);
    width: 600px;
    max-width: 90%;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

li {
    display: inline-block;
    border: 3px solid #181818;
    padding: 8px 20px;
    margin: 4px;
    border-radius: 5px;
    background-color: transparent;
}


